# --- Serveur ---
PORT=optionnelle, nombre entier, défaut : 3001
NODE_ENV=optionnelle, valeur parmi : development / production / test, défaut : development

# --- Sécutité ---
JWT_SECRET=obligatoire, chaîne non vide, pas de défaut possible
JWT_EXPIRES=optionnelle, chaîne non vide, défaut : 7d

# --- Base de donnée ---
DATABASE_URL=obligatoire, chaîne non vide, pas de défaut possible

# --- Email ---
MAIL_HOST=optionnelle, chaîne non vide, pas de défaut possible
MAIL_PORT=optionnelle, nombre entier, pas de défaut possible